<button id="refresh" onclick="refreshPrices()">Refresh prices</button>
<form name="book" method="POST">
<input type="text" placeholder="Enter url..." name="url">
<button id="submit" type="submit">Add book</button>
</form>
<div id="loader"></div>

{{>charts books=books}}

<script>
  const form = document.forms.book;
  form.addEventListener('submit', addBook, true);
  
  async function refreshPrices() {
    document.getElementById('loader').style.display = 'block';
    document.getElementById('refresh').disabled = true;

    const response = await fetch('/api/refresh-prices');
    if (!response.ok) {
      alert('Error: ' + response.status);
    }

    document.getElementById('loader').style.display = 'none';
    document.getElementById('refresh').disabled = false;
    location.reload();
  }

  async function addBook(e) {
    e.preventDefault();
    const url = form.elements.url.value;

    document.getElementById('loader').style.display = 'block';
    document.getElementById('submit').disabled = true;

    const response = await fetch('/api/add-book', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ url })
    });

    document.getElementById('loader').style.display = 'none';
    document.getElementById('submit').disabled = false;

    if (response.ok) {
      location.reload();
    } else {
      const json = await response.json();
      alert('Error: ' + json.message);
    }
  }
</script>