<button id="refresh" onclick="refreshPrices()">Refresh prices</button>
<form name="book" method="POST">
<textarea type="text" rows="3" placeholder="Enter urls..." name="urls"></textarea>
<button id="submit" type="submit">Add books</button>
</form>
<div id="loader"></div>

{{>charts books=books}}

<script>
  const form = document.forms.book;
  form.addEventListener('submit', addBooks, true);
  
  async function refreshPrices() {
    document.getElementById('loader').style.display = 'block';
    document.getElementById('refresh').disabled = true;

    const response = await fetch('/api/refresh-prices');
    if (!response.ok) {
      alert('Error: ' + response.status);
    }

    document.getElementById('loader').style.display = 'none';
    document.getElementById('refresh').disabled = false;
    location.reload();
  }

  async function addBooks(e) {
    e.preventDefault();
    const urls = form.elements.urls.value;

    document.getElementById('loader').style.display = 'block';
    document.getElementById('submit').disabled = true;

    const response = await fetch('/api/add-books', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ urls })
    });

    document.getElementById('loader').style.display = 'none';
    document.getElementById('submit').disabled = false;

    if (response.ok) {
      location.reload();
    } else {
      const json = await response.json();
      alert('Error: ' + json.message);
    }
  }
</script>